.square {
  border: 1px solid rgb(53, 53, 53);
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 34px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
}

.open {
  background: #fff;
}

.closed {
  background: rgb(126, 126, 126);
}